header {
    background: white;
    padding: 20px;
}

h1 {
    color: indigo;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: blueviolet;
    text-align:center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div #buttons {
    text-align:center;
}

button {
    color:mediumpurple;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.result {
    color:slateblue;
    text-align:center;
    font-family:monospace;
    font-style: italic;
}